//
   Created with JetBrains WebStorm.
   User: Vlad
   Date: 4/26/13
   Time: 12:22 PM
   To change this template use File | Settings | File Templates.

extends layout

block content
    h1 Result
    p= name
    p= pass
    a(href="/example1") Go back